{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="#" method="post">
            <h1>Login</h1>
            <label for="Usuario">Usuario:</label>
            <input type="text" name="user" id="user" placeholder="Digite seu usuario">
            <label for="Senha">Senha:</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha">
            <input type="submit" value="Login">
            <a href="C:\Users\Rylder Oliveira\OneDrive\Documentos\CEFET\Algoritmo Genético\cadastroUsuario.html">Cadastrar</a>
        </form>
    </div>
</body>
</html>