<div class="areaTabela">
    <table class="produtos">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Fornecedor</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for produto in lista %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.fornecedor }}</td>
                    <td>{{ produto.preco }}</td>
                    <td class="botoes"><a href="{% url 'editarProduto' produto.id %}" class="editar">Editar</a><a href="{% url 'deletarProduto' produto.id %}" class="deletar">Deletar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>