<div class="areaTabela">
    <table class="produtos">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Fornecedor</th>
                <th>Preço</th>
                {% if user.is_authenticated %}
                    <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for produto in lista %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.fornecedor }}</td>
                    <td>{{ produto.preco }}</td>
                    {% if user.is_authenticated %}
                        <td class="botoes">
                            <a href="{% url 'editarProduto' produto.id %}" class="editar">Editar</a>
                            <a href="{% url 'deletarProduto' produto.id %}" class="deletar">Deletar</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>