{% extends '_head.html'%}
    {% include 'parcials/header.html' %}
    {% block content %}
    <form action="listaProdutos.html" method="post">
        <div class="containerProduto">
            <h1>Cadastro de Produto</h1>
            <label for="produto">Produto:</label>
            <input type="text" name="produto" placeholder="Digite o nome do produto"> 
            <label for="fornecedor">Fornecedor:</label>
            <input type="text" name="fornecedor" placeholder="Digite o nome do fornecedor">
            <label for="preco">Preço:</label>
            <input type="number" name="preco" placeholder="Digite o preço do produto">
            <input type="submit" value="Cadastrar" class="editar" id="2">
        </div>
    </form>
    {% endblock %}
