<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleIndex.css">
    <title>Produtos</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">Tech Solutio</a>
            <ul class="nav-list">
                <li><a href="cadastroProduto.html">Cadastrar</a></li>
                <li><a href="listaProdutos.html">Listar</a></li>
                <li><input type="reset" value="Logout"></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="areaTabela">
            <table class="produtos">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Fornecedor</th>
                        <th>Preço</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{.Nome}}</td>
                        <td>{{.Descricao}}</td>
                        <td>{{.Preco}}</td>
                        <td class="botoes"><a href="/" class="editar">Editar</a><button onClick="" class="deletar">Deletar</button></td>
                    </tr>
                    <tr>
                        <td>{{.Nome}}</td>
                        <td>{{.Descricao}}</td>
                        <td>{{.Preco}}</td>
                        <td class="botoes"><a href="/" class="editar">Editar</a><button onClick="" class="deletar">Deletar</button></td>                    </tr>
                    <tr>
                        <td>{{.Nome}}</td>
                        <td>{{.Descricao}}</td>
                        <td>{{.Preco}}</td>
                        <td class="botoes"><a href="/" class="editar">Editar</a><button onClick="" class="deletar">Deletar</button></td>                    </tr>
                </tbody>
            </table>
        </div>
    </main>   
</body>
</html>