{% extends '_head.html'%}
    {% include 'parcials/header.html' %}
    {% block content %}
    <div class="containerProduto">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Editar Produto</h1>
            {{form.as_p}}
            <!-- <label for="produto">Produto:</label>
            <input type="text" name="produto" placeholder="Digite o nome do produto" value="{{ produto.nome }}"> 
            <label for="fornecedor">Fornecedor:</label>
            <input type="text" name="fornecedor" placeholder="Digite o nome do fornecedor" value="{{ produto.fornecedor }}">
            <label for="preco">Preço:</label>
            <input type="number" name="preco" step="0.01" min="0.00" placeholder="Digite o preço do produto" value="{{ produto.preco }}">
            <div class="pub">
                <input type="checkbox" name="publicado" title="publicado" disable>
                <label for="preco">Publicar</label>
            </div> -->
            <input type="submit" value="Editar" class="editar" id="2">
        </form>
    </div>
    {% endblock %}